@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Header styles */

.img-hero {
  position: absolute;
  width: 1362px;
  height: 936px;
  left: 39px;
  top: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(pexels-pixabay-210243.jpg);
  backdrop-filter: blur(2px);
  border-radius: 0px 0px 35px 35px;
}

header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: absolute;
  width: 1308px;
  height: 138px;
  left: 66px;
  top: -11px;
}

header img {
  width: 100px;
}

a {
  color: #ffffff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
}

a:link {
  text-decoration: none;
}

.btn-header {
  background-color: #f5b856;
  border: none;
  color: #006699;
  padding: 10px;
  font-weight: 500;
  size: 20px;
  border-radius: 10px;
  width: 9%;
  cursor: pointer;
  /* position: absolute; */
}

/* Main styles */
.section-hero {
  position: absolute;
}

.section-hero h1 {
  position: absolute;
  width: 967px;
  height: 156px;
  left: 66px;
  top: 246px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}

.text-hero {
  position: absolute;
  width: 1098px;
  height: 88px;
  left: 66px;
  top: 402px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.destino1 {
  position: absolute;
  width: 380px;
  height: 300px;
  left: 822px;
  top: 890px;
  border-radius: 30px;
}

.destino2 {
  position: absolute;
  width: 380px;
  height: 300px;
  left: 822px;
  top: 1221px;
  border-radius: 30px;
}

.destino3 {
  position: absolute;
  width: 380px;
  height: 300px;
  left: 826px;
  top: 1552px;
  border-radius: 30px;
}

/* Categorias Populares */

.title-populares {
  position: absolute;
  width: 1035px;
  height: 78px;
  left: 169px;
  top: 2045px;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 78px;
  text-align: center;
  color: #396172;
}

.nav-populares {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 49px;
  color: #396172;
  width: 961px;
  height: 69px;
  left: 216px;
  top: 2139px;
  cursor: pointer;
}

.img-parq1 {
  position: absolute;
  width: 393px;
  height: 396px;
  left: 67px;
  top: 2249px;
  border-radius: 50px;
}

.img-parq2 {
  position: absolute;
  width: 393px;
  height: 396px;
  left: 524px;
  top: 2249px;
  border-radius: 50px;
}

.img-parq3 {
  position: absolute;
  width: 393px;
  height: 396px;
  left: 980px;
  top: 2249px;
  border-radius: 50px;
}

/* Avaliações */

.title-avaliacao {
  position: absolute;
  width: 800px;
  height: 102px;
  left: 286px;
  top: 2832px;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #396172;
}

.client-1 {
  position: absolute;
  width: 323px;
  height: 543px;
  left: 181px;
  top: 3000px;
  background: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
}

.img-cli-one {
  position: absolute;
  border-radius: 50%;
  width: 170px;
  height: 168px;
  left: 253px;
  top: 3064px;
}

.client-2 {
  position: absolute;
  width: 323px;
  height: 543px;
  left: 559px;
  top: 3000px;
  background: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
}

.img-cli-two {
  position: absolute;
  border-radius: 50%;
  width: 170px;
  height: 168px;
  left: 627px;
  top: 3064px;
}

.client-3 {
  position: absolute;
  width: 323px;
  height: 543px;
  left: 937px;
  top: 3000px;
  background: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
}

.img-cli-three {
  position: absolute;
  border-radius: 50%;
  width: 170px;
  height: 168px;
  left: 1005px;
  top: 3064px;
}

/* Footer*/

footer {
  color: #ffffff;
  background-color: #396172;
  width: 100%;
}
