@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Header styles */

.img-hero {
  position: absolute;
  width: 1362px;
  height: 936px;
  left: 39px;
  top: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(pexels-pixabay-210243.jpg);
  backdrop-filter: blur(2px);
  border-radius: 0px 0px 35px 35px;
}

header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: absolute;
  width: 1308px;
  height: 138px;
  left: 66px;
  top: -11px; 
}

header img {
  width: 100px;
}

a {
  color: #ffffff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
}

a:link {
  text-decoration: none;
}

.btn-header {
  background-color: #f5b856;
  border: none;
  color: #006699;
  padding: 10px;
  font-weight: 500;
  size: 20px;
  border-radius: 10px;
  width: 9%;
  cursor: pointer;
  /* position: absolute; */
}

/* Main styles */
.section-hero {
  position: absolute;
}

.section-hero h1 {
  position: absolute;
  width: 967px;
  height: 156px;
  left: 66px;
  top: 246px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}

.text-hero {
  position: absolute;
  width: 1098px;
  height: 88px;
  left: 66px;
  top: 402px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.destino1 {
  position: absolute;
  width: 380px;
  height: 300px;
  left: 822px;
  top: 890px;
  border-radius: 30px;
}

.destino2 {
  position: absolute;
  width: 380px;
  height: 300px;
  left: 822px;
  top: 1221px;
  border-radius: 30px;
}

.destino3 {
  position: absolute;
  width: 380px;
  height: 300px;
  left: 826px;
  top: 1552px;
  border-radius: 30px;
}

/* Footer*/

footer {
  color: #ffffff;
  background-color: #396172;
  width: 100%;
}
